<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "style" %>
  <%= google_javascript_include_tag %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

<%= yield :javascript %>
</body>
</html>
